@model MenuItem

<tr class="align-content-center">
    <td>@Model.Name</td>
    <td>@Model.Type</td>
    <td>@Model.Price</td>
    
    <td>
        
        <a class="btn btn-info" asp-action="Edit" asp-route-id="@Model.Id">Bewerken</a>
        <a class="btn btn-info" asp-action="Delete" asp-route-id="@Model.Id">Verwijderen</a>
    </td>
</tr>